#edc{
    margin: 0.5rem;
    padding: 1rem;
    width: fit-content;
    background-color: #01101a;
    border-radius: 1rem;
    max-width: 25rem;
}
#ed{  
    padding: 0.5rem;
    color: aliceblue;
    font-size: x-small;
    display: flex;
    align-items: center;
}
#contents{
    background-color: #01101a;
    padding: 0.5rem;
    color: rgb(194, 203, 255);
    width: fit-content;
    border-radius: 0.5rem;
}
#ilogo{
    width: 6rem;
    height: auto;
    border-radius: 0.5rem;
}
#upper{
    display: flex;
}
#cc{
    display: flex;
    font-size: large;
    color: aliceblue;
}
#eds{
    display: flex;
    flex-wrap: wrap;
}