#last{
    margin-top: 2rem;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: #07122b;
    flex-wrap: wrap;
    bottom: 0;
    position: static;
}
#social{
    margin: 0.5rem;
    padding: 1rem;
    display: inline-flex;
    gap: 0.5rem;
    background-color: aliceblue;
    border-radius: 1rem;
}
#cpr{
    align-self: center;
}
#upper{
    display: inline-flex;
    flex-wrap: wrap;
}
#logo{
    
}