#landing{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
#content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
#hash{
    padding: 1rem;
    background-image: linear-gradient(to top left,#00f2ff,#000dff);
    border-radius: 2rem;
    margin: 1rem;
    font-size: xx-large;
}
#title{
    color: rgba(255, 255, 255, 0.958);
    text-shadow: 0.4rem 0.5rem 1rem #00f2ff,#000dff;
}
#hello{
    font-size: 2.5em;
}
#intext{
    padding: 2rem;
    max-width: 60rem;
    align-self: center;
}
.owl{
    position: absolute;
    z-index: -1;    
}

#hello{
    padding: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    color: rgb(0, 187, 255);
}

/* #owl1{
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: auto;
    background-color: #002fff7f;
    padding: 6rem;
    position: absolute;
    border-top-right-radius: 2rem 6rem;
    border-bottom-right-radius: 3rem 4rem;
    border-top-left-radius: 7rem 4rem;
    border-bottom-left-radius: 8rem;
} */

#topframe{
    display: flex;
    color: aliceblue;
    font-size: 1.5vmax;
}

#owl3{
    height: fit-content;
    padding: 5rem;
    justify-self: flex-end;
    margin-left: auto;
    background-size: 2rem 2rem;
    background-image: radial-gradient(
        circle ,
        #5F7791  3px,
        transparent 0
      );
}

#quote:active{
    scale: 0.9;
}

#image{
    margin: 0.5em;
}
#avtar{
    
}

#title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* offers */

#cards{
    width: fit-content;
    background-color:#01101a;
    border: 0.1rem solid rgb(21, 3, 42);
    border-radius: 0.5rem;
    margin: 1em;
    padding: 1em;
    color: aliceblue;
}



/* info cards */

#profession{
    /* border: 0.1rem solid #00f7ff24;
    border-radius: 1rem;
    margin-top: 2em;
    background-color: rgba(96, 96, 207, 0.219);
    box-shadow: 0.8em 0.9em 3em 0.1em rgba(70, 85, 255, 0.21);
    position: relative; */
}

#prtitle{
    display: flex;
    color: aliceblue;
    align-items: center;
}
#textpr{
    text-align: center;
}
#imgpr{
    width: 20vmax;
}
#btnc{
    display: flex;
}

#shortinfo{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
#moreinfo{
    display: flex;
    flex-wrap: wrap;
    font-size: x-small;
}
#simg{
    width: 30rem;
}
#inline{
    display: inline-flex;
    padding: 0.5rem;
    width: fit-content;
    font-weight: bold;
    margin: 0.3rem;
    border-radius: 0.5em;
    color: #193f78;
    background-color: rgba(2, 40, 54, 0.414);
    cursor: pointer;
    align-items: center;
}
#con{
    width: 2vmax;
}
#packagecont{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#slipcont{
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
}


@media only screen and (max-width: 950px) {
    #topframe{
        flex-direction: column;
    }
    #owl3{
        display: none;
    }
}

