#projc{
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: #01101a;
    border: 0.1rem solid rgb(21, 3, 42);
    color: aliceblue;
    display: flex;
    width: min-content;
    flex-direction: column;
}
#pimg{
    width: 30rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
#plink{
    background-image: linear-gradient(to bottom left,#b305b6,#3d04af);
    padding: 0.5rem;
    width: fit-content;
    border-radius: 0.3em;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#ptech{
    display: inline-flex;
    gap: 0.5em;
    margin: 0.5em;

}
#projscroll{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
#projectd{
    padding: 1rem;
}
#pdesc{
    max-width: fit-content;
}
#ploading{
    margin: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 25rem;
    background-color: #01101a;
}
#ploimg{
    padding-bottom: 60%;
    padding-left: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgba(2, 40, 54, 0.414);
    width: min-content;
    background-image: linear-gradient(to left,rgb(131, 129, 129), rgba(3, 3, 49, 0.067),rgb(131, 129, 129));
    animation: load1 0.5s linear infinite;
}
#plostrip{
    display: inline-flex;
    padding: 0.8rem;
    width: 90%;
    margin: 0.4rem;
    border-radius: 0.5em;
    color: #193f78;
    background-image: linear-gradient(to left,rgb(131, 129, 129), rgba(3, 3, 49, 0.067),rgb(131, 129, 129));
    animation: load1 0.5s linear infinite;
    background-color: rgba(2, 40, 54, 0.414);
}
