#inner{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}
#title{
    display: inline-flex;
    margin: 1em;
}
#skillcard{
    color: aliceblue;
    background-color: #01101a;
    border-radius: 1.5rem;
    padding: 0.5em;
    font-size: small;
}
#skillimg{
    grid-column: 1;
}
#skillname{
    grid-column: 2;
    margin-left: 1rem;
    text-shadow: none;
    color: aliceblue;
}
#other{
    display: flex;
    flex-direction: column;
}