#inner{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1.5rem;
}
#title{
    display: inline-flex;
    margin: 1em;
}
#skillcard{
    color: aliceblue;
    background-color: #01101a;
    border-radius: 1.5rem;
    padding: 0.5em;
    font-size: small;
    border: 0.1rem solid rgb(0, 16, 46);
}

#skillimg{
    grid-column: 1;
}
#skillname{
    grid-column: 2;
    margin-left: 1rem;
    text-shadow: none;
    color: aliceblue;
}
#other{
    display: flex;
    flex-direction: column;
}
#loading{
    border-radius: 1.5rem;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: #01101a;
}
#loimg{
    border-radius: 5rem;
    padding: 2.5rem;
    background-color: rgba(2, 40, 54, 0.414);
    margin: 0.5rem;
    width: min-content;
    background-image: linear-gradient(to left,rgb(131, 129, 129), rgba(3, 3, 49, 0.067),rgb(131, 129, 129));
    animation: load2 0.5s linear infinite;
    transition: 1s;
}
#lostrip{
    display: inline-flex;
    padding: 0.8rem;
    width: 90%;
    margin: 0.3rem;
    border-radius: 0.5em;
    color: #193f78;
    animation: load1 1s linear infinite;
    background-color: rgba(2, 40, 54, 0.414);
    background-image: linear-gradient(to left,rgb(131, 129, 129), rgba(3, 3, 49, 0.067),rgb(131, 129, 129));
}
#skeleton{
    display: flex;
    gap: 1rem;
}
@keyframes load1 {
    0%{
        background-position: -10rem;
    }
    100%{
        background-position: 10rem;
    }
}
@keyframes load2 {
    0%{
        background-position: -2.5rem;
    }
    100%{
        background-position: 2.5rem;
    }
}