#scont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.simgs{
    margin: 1rem;
    width: 4rem;
    background-color: aliceblue;
    border-radius: 1rem;
    transition: 0.2s;
}
.simgs:hover{
   scale: 1.1;
}
#skeleton{
    display: flex;
    gap: 1rem;
}